*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Cormorant Garamond", sans-serif;
}

#navbar{
    background-color: #57290B;
    width: 100%;
    height: auto;
}

#menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.5rem;
    font-size: 18px;
}

#menu p{
    color: #F0F0F0;
}

.nav{
    list-style-type: none;
    display: flex;
    font-weight: bold;
    gap: 7.5rem;
}

.nav a{
    text-decoration: none;
}

.nav li{
    position: relative;
    cursor: pointer;
    color: #F0F0F0;
}

.nav li::after{
    content: '';
    position: absolute;
    height: 2px;
    left: 15%;
    bottom: -0.25rem;
    width: 65%;
    background-color: #B2784A;
    transition: width 0.5s ease, left 0.5s ease;
    border-radius: 1px;
}

.nav li:hover::after{
    width: 100%;
    left: 0;
}

.nav li:hover{
    color: #B2784A;
    transition: color 0.5s ease;
}

.mobile-nav{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    z-index: 98;
    background-color: #F5F3ED;
    margin-top: 67px;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding-top: 1rem;
}

.mobile-nav.is-active{
    display: flex;
}

.mobile-nav a{
    background-color: white;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    color: black;
    display: flex;
    width: 80%;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

main.overlay, footer.overlay {
    filter: brightness(50%);
}

.logo{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: 0.5rem;
}

#home{
    background-image: url("./images/background.png"); 
    height: 76.5vh;
    background-size: cover;
    height: 559px;
}

#box-home{
    width: 50vw;
    padding-top: 4rem;
    padding-left: 7.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: #F0F0F0;
}

#box-home p{
    font-family: 'Open Sans', sans-serif;
}

#box-home-title{
    font-size: 3.5rem; 
    font-weight: bold;
}

#box-home-subtitle{
    font-size: 1.5rem;
}

#about-us{
    background-color: #F5F3ED;
    position: relative;
}

#about-container{
    padding: 5rem 15rem 12rem 7.5rem;
    display: flex;
    justify-content: space-between;
}

#about-box{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    width: 32vw;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#cafe-onda{
    position: absolute;
    width: 100%;
    bottom: -7rem;
}

#cafeteria{
    background-color: #80451F;
}

#cafeteria-container{
    padding: 12rem 7.5rem 5rem 7.5rem;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

#caf-title{
    font-family: "Cormorant Garamond", sans-serif;
    font-size: 40px;
    font-weight: bold;
    position: relative;
    color: #F0F0F0;
    margin-bottom: 3.5rem;
}

#caf-title::after{
    content: '';
    position: absolute;
    height: 2px;
    left: 15%;
    bottom: -0.2rem;
    width: 70%;
    background-color: #B2784A;
    transition: width 0.5s ease, left 0.5s ease;
    border-radius: 1px;
}

#cafeteria-box{
    display: flex;
    align-items: center;
    max-width: 83vw;
}

#carousel{
    display: grid;
    grid-auto-flow: column;
    gap: 2rem;
    padding: 0 3rem 0 3rem;
    overflow-x: scroll;
}

#carousel::-webkit-scrollbar{
    display: none;
}

.card{
    background-color: #F0F0F0;
    border-radius: 8px;
    width: 23vw;
    height: auto;
    display: flex;
    flex-flow: column wrap;
    padding: 1rem;
    gap: 0.5rem;
}

.card:hover{
    cursor: pointer;
    transform: scale(1.025);
    transition: 0.4s;
}

.card p{
    font-family: 'Open Sans', sans-serif;
}

.card img{
    width: 100%;
    border-radius: 5px;
}

.card-title{
    font-size: 16px;
    font-weight: bold;
}

.carousel-arrow{
    color: #F5F3ED; 
    font-size: 40px !important;
    cursor: pointer;
    opacity: 0.8;
}

.carousel-arrow:hover{
    opacity: 1;
    text-shadow: 0px 0px 5px rgb(255, 255, 255);
}

#contact{
    background-color: #F5F3ED;
}

#contact-container{
    padding: 7.5rem;
    display: flex;
    flex-flow: column wrap;
}

#contact .title::after{
    width: 438px;
}

#contact-box{
    width: 100%;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 8px;
    margin-top: 4rem;
}

#contact-box p{
    font-weight: bold;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    color: #F0F0F0;
}

.contact-icon{
    background-color: #F0F0F0;
    border-radius: 2px;
    color: #8F542E;
}

#hr{
    width: 22vw;
    background: #B2784A;
    height: 3px;
}

#info{
    background-color: #8F542E;
    border-radius: 10px 0 0 10px;
    padding: 3rem;
    padding-right: 10rem !important;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#info span{
    display: flex;
    gap: 0.5rem;
}

form{
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    width: 100%;
}

#form label{
    color: black;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
}

.required{
    resize: none;
    width: 100%;
    height: 9.5vh;
    border-radius: 8px;
    border: 1px solid #8F542E;
    outline: none !important;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    padding-left: 1rem;
}

.border-error {
    border: 1px solid red;
}

#form textarea{
    height: 30vh;
    outline: none !important;
    padding: 1rem;
}

.validate{
    font-size: 20px;
    color: red;
    display: none;
    margin: 0.5rem 0;
    font-weight: bold;
}

.btn{
    background-color: #8F542E;
    color: #F0F0F0;
    border: none;
    width: 18.42vw;
    height: 7.8vh;
    border-radius: 8px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
    cursor: pointer;
}

.btn:hover{
    width: 19vw;
    background-color: #B2784A;
    transition: width 0.5s ease, height 0.5s ease;
    box-shadow: #8F542E 0px 5px 15px;
}

.title{
    font-family: "Cormorant Garamond", sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    position: relative;
    margin-bottom: 1rem;
    z-index: 10;
}

.title::after{
    position: absolute;
    background-color: #FBC9A8;
    left: -20px;
    bottom: -2px;
    content: '';
    height: 28px;
    width: 255px;
    z-index: -1;
}

footer{
    background-color: #57290B;
    width: 100%;
}

#foot{
    display: flex;
    justify-content: space-between;
    color: #FFDAB8;
    padding: 1.5rem 7.5rem 1.5rem 7.5rem;
    font-family: 'Open Sans', sans-serif;
}

.hamburger{
    position: relative;
    display: none;
    width: 35px;
    height: 35px;
    cursor: pointer;
    appearance: none;
    background: none;
    outline: none;
    border: none;
}

.hamburger .bar, .hamburger:after{
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color: #B2784A;
    margin: 10px 0px;
    transition: 0.4s;
}

.hamburger.is-active .bar{
    transform: rotate(-45deg) translate(-10px, 0px);
}

.hamburger.is-active:after{
    transform: rotate(45deg) translate(-10px, 0px);
}

.mobile-contact{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding: 2.5rem;
    gap: 2rem;
    display: none;
}

.mobile-social{
    display: flex;
    gap: 2rem;
}

.mobile-social a{
    cursor: pointer;
}

@media(max-width: 400px) {
    .nav {
        display: none;
    }

    .logo{
        flex-flow: row;
        gap: 4rem;
    }

    .logo img{
        width: 25px;
    }

    #menu{
        width: 100%;
        padding: 1rem 2rem 1rem 2rem;
        justify-content: space-between;
    }

    .hamburger{
        display: block;
    }

    #box-home {
        width: 100%;
        padding: 1.5rem;
    }

    #home{
        height: 242px;
    }

    #box-home p{
        font-size: 1.75rem;
    }

    #box-home-subtitle{
        display: none;
    }

    .btn{
        width: 217px;
        height: 44px;
        font-family: 'Mulish', sans-serif;
        font-size: 14px;
    }

    .btn:hover{
        width: 217px;
    }

    .title{
        font-size: 24px;
        font-family: "Cormorant Garamond", sans-serif !important;
    }

    .title::after{
        width: 50%;
        bottom: -5px;
        height: 21px;
        left: -15px;
    }

    #about-container {
        padding: 2rem;
        flex-direction: column;
        padding-bottom: 7.5rem;
    }

    #about-box .btn{
        align-self: center;
    }

    #about-box p{
        font-family: 'Open Sans', sans-serif;
    }

    #about-container img{
        display: none;
    }

    #cafe-onda{
        bottom: -35px;
        height: 100px;
    }

    #about-box, #cafeteria-container {
        padding: 0;
        width: 100%;
    }

    #cafeteria-container{
        padding-top: 5rem;
    }

    #contact-container{
        padding: 1.5rem;
        padding-top: 5rem;
    }

    #contact-box{
        margin-top: 1rem;
    }

    #contact-container .title{
        margin-left: 0.5rem;
    }

    #contact-container .title::after{
        width: 80%;
        left: -15px;
    }

    #form{
        padding: 1.5rem;
        gap: 1rem;
    }

    #form input{
        height: 48px;
    }

    #form textarea{
        height: 160px;
    }

    #form .btn{
        margin-top: 1rem;
    }

    .card {
        width: 100%;
    }

    #info{
        display: none;
    }

    .mobile-contact{
        display: flex;
    }

    #foot{
        padding: 1rem;
        flex-direction: column;
    }
}