*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Cormorant Garamond", sans-serif;
}

#navbar{
    background-color: #57290B;
    width: 100%;
    height: auto;
}

#menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.5rem;
    font-size: 18px;
}

#menu p{
    color: #F0F0F0;
}

.nav{
    list-style-type: none;
    display: flex;
    font-weight: bold;
    gap: 7.5rem;
}

.nav li{
    text-decoration: none;
    position: relative;
    cursor: pointer;
    color: #F0F0F0;
}

.nav li::after{
    content: '';
    position: absolute;
    height: 2px;
    left: 50%;
    bottom: -0.2rem;
    width: 0;
    background-color: #B2784A;
    transition: width 0.5s ease, left 0.5s ease;
    border-radius: 1px;
}

.nav li:hover::after{
    width: 100%;
    left: 0;
}

.nav li:hover{
    color: #B2784A;
    transition: color 0.5s ease;
}

#logo{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: 0.5rem;
}

#home{
    background-image: url("./images/background.png"); 
    height: 76.5vh;
}

#box-home{
    width: 45vw;
    padding-top: 4rem;
    padding-left: 7.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: #F0F0F0;
}

#box-home p{
    font-family: 'Open Sans', sans-serif;
}

.btn{
    background-color: #8F542E;
    color: #F0F0F0;
    border: none;
    width: 18.42vw;
    height: 7.8vh;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
    cursor: pointer;
}

.btn:hover{
    width: 19vw;
    background-color: #B2784A;
    transition: width 0.5s ease, height 0.5s ease;
    box-shadow: #8F542E 0px 5px 15px;
}

#about-us{
    background-color: #EBDACC;
}

#about-container{
    padding: 5rem 15rem 5rem 7.5rem;
    display: flex;
    justify-content: space-between;
}

#about-box{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    width: 32vw;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.title{
    font-family: "Cormorant Garamond", sans-serif;
    font-size: 40px;
    font-weight: bold;
    position: relative;
    margin-bottom: 1rem;
    z-index: 10;
}

.title::after{
    position: absolute;
    background-color: #FBC9A8;
    left: -20px;
    bottom: -2px;
    content: '';
    height: 28px;
    width: 255px;
    z-index: -1;
}

footer{
    background-color: #57290B;
    width: 100%;
}

#foot{
    display: flex;
    justify-content: space-between;
    color: #FFDAB8;
    padding: 1.5rem 7.5rem 1.5rem 7.5rem;
    font-family: 'Open Sans', sans-serif;
}